@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tab-btn-style {
    background-color: #b5ceff;
}

.tab-btn-style.btn-active {
    background-color: #2563eb;
    color: #fff;
}

.tab-btn-style.btn-active svg {
    fill: #fff;
}

.text-blue {
    color: #2563eb;
}

#my-text .char {
    transform: translateY(115px);  
    transition: transform .5s;
}

#reveal-text-up .line{
    overflow: hidden;
}

#reveal-text-up .word{
    transform: translateY(35px);  
    transition: transform .3s;
}


#hero-container {
    transform: translateY(50px);
}

#my-text {
    scale: 0;
}
.pointer {
    cursor: pointer;
}

.image-parallax {
    transform: translateY(50px);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

   .acc_active {
    grid-template-rows: 1fr;
   }

   .clipPath {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }


   .bg-g {
    background: #2A7B9B;
    background: linear-gradient(90deg, #0A3677 0%, #034EB1 50%, #034EB1);
}
 
  